include ../mixin


-
    var cards = [
        {
            img: "/img/product1_preview.png", size: '56',
            cost:"522", cy:" сом", prev_cost:"1051", quantity: 1,
            name:"Футболка UZcotton мужская", 
            apps:["Цвет: белый", "Размер: 56"], warehouse:"Коледино WB", firm: "OOO Вайлдберриз", left: '2'
        },
        {
            img: "/img/product2_preview.png", size: '',
            cost:"2 100 047", cy:" сом", prev_cost:"2 300 047", quantity: 200,
            name:"Силиконовый чехол картхолдер (отверстия) для...", 
            apps:["Цвет: прозрачный"], warehouse:"Коледино WB", firm: "OOO Мегапрофстиль", left: '10'
        },
        {
            img: "/img/product3_preview.png", size: '',
            cost:"494", cy:" сом", prev_cost:"950", quantity: 2,
            name:'Карандаши цветные Faber-Castell "Замок", набор 24 цв...', 
            apps:[""], warehouse:"Коледино WB", firm: "OOO Вайлдберриз", left: '2'
        }
    ]


block available
    .available-header
        +checkbox(id="selectAll")
        span.text_font Выбрать все
        a.list-visibility#collapseAvailable
            +image("/icons/basket/to_collapse.svg", "16px", "9.6px")
    section#available__products-list
        each card in cards
            .available__card
                .available__card-header
                    .available__card-left
                        +image(card.img, "80px", "106px")
                        +checkbox(class="available__card-checkbox")
                        +size(card.size)
                    .available__card-right
                        .available__card-main
                            .available__card-price
                                .available__price-value
                                    span(class="subtitle-accent_font")= card.cost
                                    h4(class="subtitle-accent_font" style="margin-left: 5px;")= card.cy
                                span.available__prev-cost(class="caption_font color_gray")= card.prev_cost+card.cy
                            p.available__card-name(class="card-description_font")= card.name
                        if card.apps != ""
                            p.available__card-apps(class="caption_font")
                                each app in card.apps
                                    span(style="margin-right:16px;")= app
                        p(class="caption_font color_gray")= card.warehouse
                        p.available__card-company(class="caption_font color_gray")
                            span= card.firm
                            +image("/icons/basket/info.svg", "16px")
                .available__card-footer
                    .amount
                        +counter(card.quantity)
                        if card.left < 5
                            .available__card-amount
                                span.caption_font.color_red= 'Осталось '+card.left+' шт.'
                    +actions
                .available__card-price
                    .available__price-value
                        if card.cost.length > 5
                            span(class="subtitle-accent_font")= card.cost
                        else
                            span(class="litle-price_font")= card.cost
                        h4(class="subtitle-accent_font" style="margin-left: 2px;")= card.cy
                    span.available__prev-cost(class="caption_font color_gray")= card.prev_cost+card.cy