-
    var fields = [
        [
            {ru: "Имя", en: "name"}, 
            {ru: "Фамилия", en: "surname"}
        ],
        [
            {ru: "Электронная почта", en: "email"}, 
            {ru: "Телефон", en: "phone"}, 
            {ru: "ИНН", en: "inn"}
        ]
    ]


block recipient
    h3.get__title_font Получатель
    .recipient__fields
        each block in fields
            .recipient__field-block
                each title in block
                    label.recipient__label(id=title.en)
                        span.explain.recipient__input-header_font(class=title.en=="inn"?"recipient__input-header_color":"color_red")= title.ru=="ИНН" ? 'Для таможенного оформления' : ' '
                        if title.en == "email"
                            input.text_font(id=title.en,placeholder=title.ru, type="text", value='' required)
                        else if title.en == "phone"
                            input.text_font(id=title.en,placeholder=title.ru, type="text" required)
                        else if title.en == "inn"
                            input.text_font(id=title.en,placeholder=title.ru, type="text", value='', 
                                            title="Введите 14 цифр" pattern="^[0-9]{14}$" required)
                        else
                            input.text_font(id=title.en, placeholder=title.ru, type="text", value='' required)
                        span.recipient__label-prompt(class="recipient__input-header_font recipient__input-header_color")= title.ru